<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout :: areas(~{::title},~{::body})}">
<head>

<title>Coza Store | About</title>

</head>
<body>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-40"></section>
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-150"
		style="background-image: url('/user/images/bg-02.jpg'); border-radius: 20px;">
		<!-- Breadcrumb -->
		<div class="txt-center">
			<a th:href="@{/home/index}" class="stext-109 cl8 hov-cl1 trans-04"
				style="font-size: 25px;">Trang Chủ</a> <i
				class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"
				style="font-size: 25px;"></i> <a
				class="stext-109 cl8 hov-cl1 trans-04" style="font-size: 25px;">Giới Thiệu</a>
		</div>
	</section>



	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">Apple Store Tại Việt Nam</h3>

						<p class="stext-113 cl6 p-b-26">
							Thông qua Apple Store trực tuyến và ứng dụng Apple Store, khách
							hàng có thể khám phá và mua dòng sản phẩm iPhone 14, với tính
							năng camera siêu việt, thời lượng pin tuyệt vời cũng như bộ tính
							năng an toàn và sức khỏe đột phá. Khách hàng cũng có thể kết nối
							với đội ngũ chuyên gia của Apple để được trợ giúp tìm kiếm sản
							phẩm phù hợp với mình. Khách hàng có cơ hội cá nhân hóa thiết bị
							bằng cách chọn vỏ kết hợp với dây đeo theo ý thích, tạo ra phong
							cách độc đáo cho riêng mình thông qua Apple Watch Studio, chỉ có
							trên trang <a style="font-family: sans-serif; color: #67729D;"
								href="http://apple.com.vn/">apple.com/vn</a>. Với tùy chọn tự
							cấu hình do Apple cung cấp, khách hàng sử dụng máy Mac có thể
							chọn và tùy chỉnh thiết bị của mình với các thông số kỹ thuật
							theo ý muốn. Để bổ sung thêm chi tiết đặc biệt cho thiết bị,
							chúng tôi cung cấp dịch vụ khắc hình miễn phí, chỉ có trên trang
							apple.com/vn. Khách hàng có thể kết hợp các biểu tượng, ký tự và
							chữ số để cá nhân hóa iPad, AirTag, AirPods và Apple Pencil.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">“Khách hàng luôn là
								trọng tâm trong mọi hoạt động của chúng tôi, và chúng tôi rất
								phấn khởi khi ra mắt Apple Store trực tuyến tại thị trường Việt
								Nam,” Bà Deirdre O’Brien, Phó Chủ Tịch Cấp Cao mảng Bán Lẻ của
								Apple chia sẻ. “Với việc mở rộng ngày hôm nay, chúng tôi rất
								vinh dự được hỗ trợ khách hàng trong quá trình khám phá, mua sắm
								các sản phẩm và dịch vụ của chúng tôi, kết nối họ với đội ngũ
								nhân viên am hiểu về sản phẩm, đồng thời mang đến trải nghiệm
								tốt nhất của Apple, theo một cách mới mẻ và đầy ấn tượng”</p>

							<span class="stext-111 cl8">18 tháng 5 2023</span>
						</div>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/user/images/about1.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">Dịch Vụ Bán Lẻ</h3>

						<p class="stext-113 cl6 p-b-26">Nhờ sự hỗ trợ của các chuyên
							gia trực tuyến, giờ đây khách hàng có thể tận hưởng vô số dịch vụ
							bán lẻ của Apple, bao gồm Apple Trade In, chuyển dữ liệu an toàn
							và chuyển sang sử dụng iOS, giúp khách hàng dễ dàng chuyển dữ
							liệu từ thiết bị cũ sang thiết bị mới một cách an toàn và bảo
							mật. Nhờ chương trình Apple Trade In, khách hàng tại Việt Nam có
							thể đổi thiết bị cũ của mình để lấy điểm tín dụng khi mua thiết
							bị mới. Nếu thiết bị cũ không đủ điều kiện để đổi điểm tín dụng,
							Apple sẽ tái chế thiết bị đó miễn phí, tránh đưa rác thải điện tử
							đến các bãi chôn lấp và tiết kiệm nhiều nguyên liệu quý giá trong
							công cuộc giảm tài nguyên khai thác từ Trái đất của Apple. Apple
							Store trực tuyến cung cấp nhiều phương án thanh toán, bao gồm hỗ
							trợ tài chính lên đến 24 tháng cho iPhone, máy Mac, iPad và Apple
							Watch với MoMo. Ngoài ra, học sinh, sinh viên có thể mua máy Mac
							hoặc iPad với mức giá đặc biệt và được giảm giá khi mua phụ kiện
							và chương trình Apple Care.</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">Với chương trình
								AppleCare+ cho iPhone, máy Mac, iPad và Apple Watch, khách hàng
								sẽ nhận được dịch vụ hỗ trợ và bảo dưỡng đáng tin cậy từ những
								chuyên gia hiểu rõ nhất về sản phẩm Apple. Chương trình
								AppleCare+ cung cấp hai năm ưu tiên dịch vụ hỗ trợ và bảo dưỡng,
								ưu tiên liên lạc với các chuyên gia và cung cấp sự bảo vệ cho
								thiết bị của khách hàng.</p>

							<span class="stext-111 cl8"> <a style="font-family: sans-serif; color: #67729D;"
								href="http://apple.com.vn/">apple.com/vn</a> </span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/user/images/about2.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>